<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoPOO.My.MySettings.mobicenConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=Seiyapegaso_2@@3;persistsecurityinfo=True;database=mobicen"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>